{% extends '_design.html' %}

{% block title %}Certificate Monitor{% endblock %}

{% block body %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Certificates /</span> Overview</h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <h5 class="card-header">Certificates</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                <tr>
                    <th>Servername</th>
                    <th>Certificate</th>
                    <th>Issued</th>
                    <th>Expiration</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                {% for cert in certificates %}
                <tr>
                    <td>
                        <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>{{ cert.name }}</strong>
                    </td>
                    <td>{{ cert.subject }}</td>
                    <td>{{ cert.validfrom }}</td>
                    <td><span class="badge bg-label-{{cert.code}} me-1">{{ cert.validto }} ({{cert.daysuntil}})</span>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/certificate/detail/{{ cert.filename }}"
                                ><i class="bx bx-edit-alt me-2"></i> View</a
                                >
                                <a class="dropdown-item" href="/certificate/delete/confirm/{{ cert.filename }}"
                                ><i class="bx bx-trash me-2"></i> Delete</a
                                >
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    <!--/ Basic Bootstrap Table -->
    {% endblock %}
